<div class="prijavaContainer">
    <div class="registration-form">
        <form >
            <div class="form-icon">
                <span><i class="icon icon-user"></i></span>
            </div>
            <span><h3 style="padding-bottom: 5px;">Firma.ba</h3></span>
            <span><h3>Prijavite se</h3></span>
            <div class="form-group">
                <input type="text" class="form-control item" id="username" placeholder="Korisnicko ime">
            </div>
            <div class="form-group">
                <input type="password" class="form-control item" id="password" placeholder="Lozinka">
            </div>
            
            <div class="form-group mt-5">
                <button type="button" class="btn btn-block create-account" routerLink="/dashboard">Prijava</button>
            </div>
        </form>
    </div>
</div>
