<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Firma.ba</h3>
        </div>

        <ul class="list-unstyled components">
            <p>Naziv firme</p>
            <li class="active">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Opcenito</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li>
                        <a href="#">Opcenito 1</a>
                    </li>
                    <li>
                        <a href="#">Opcenito 2</a>
                    </li>
                    <li>
                        <a href="#">Opcenito 3</a>
                    </li>
                </ul>
            </li>
            
            <li>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Postavke</a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li>
                        <a routerLink="/vrste">Vrste</a>
                    </li>
                    <li>
                        <a routerLink="/grupe">Grupe</a>
                    </li>
                    <li>
                        <a routerLink="/artikli">Artikli</a>
                    </li>
                    <li>
                        <a routerLink="/kupci">Kupci</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">Izlazni racuni</a>
            </li>
            <li>
                <a href="#">Ulazni racuni</a>
            </li>
        </ul>

        
    </nav>

    <!-- Page Content  -->
    <div id="content">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">

                <button type="button" id="sidebarCollapse" onclick="toggleFunction()" class="btn text-white" style="background-color: #233aa1;">
                    <i class="fas fa-align-left"></i>
                    <span></span>
                </button>
                <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-align-justify"></i>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item ">
                            <span class="nav-link text-dark" href="#"><i class="fas fa-user mr-1"></i>User Name</span>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link text-dark" href="#">Logout<i class="fas fa-sign-out-alt ml-1"></i></a>
                        </li>
                        
                    </ul>
                </div>
            </div>
        </nav>
<div class="input-group rounded w-25 mb-3">
    <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
      aria-describedby="search-addon" />
    <span class="input-group-text border-0" id="search-addon">
      <i class="fas fa-search"></i>
    </span>
</div>
<br>
<br>
<button class="btn btn-lg btn-outline-primary" (click)="open(content)">Dodaj artikal</button>
<table class="table table-striped">
    <thead>
        <tr>
            <th>No.</th>
            <th id="centerCol">Naziv</th>
            <th id="centerCol">Akcija</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1.</td>
            <td id="centerCol">Alatni celik</td>
            <td id="centerCol">
              <button class="btn btn-sm btn-info mr-1">Uredi</button>
              <button class="btn btn-sm btn-danger mr-1">Obrisi</button>
            </td>

        </tr>
        <tr>
            <td>2.</td>
            <td id="centerCol">Dobavne komponente</td>
            <td id="centerCol">
              <button class="btn btn-sm btn-info mr-1">Uredi</button>
              <button class="btn btn-sm btn-danger mr-1">Obrisi</button>
            </td>
        </tr>
        <tr>
            <td>3.</td>
            <td id="centerCol">Vijci</td>
            <td id="centerCol">
              <button class="btn btn-sm btn-info mr-1">Uredi</button>
              <button class="btn btn-sm btn-danger mr-1">Obrisi</button>
            </td>
        </tr>
        <tr>
            <td>4.</td>
            <td id="centerCol">Konstruktor</td>
            <td id="centerCol">
              <button class="btn btn-sm btn-info mr-1">Uredi</button>
              <button class="btn btn-sm btn-danger mr-1">Obrisi</button>
            </td>
        </tr>
    </tbody>

</table>
<nav aria-label="Page navigation example" class="d-flex justify-content-center">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" href="#">Previous</a></li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
  </nav>
</div>
  <ng-template #content let-modal >
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Dodaj artikal</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputSifra">Sifra</label>
                <input type="text" class="form-control" id="inpurSifra" placeholder="123456">
              </div>
              <div class="form-group col-md-6">
                <label for="inputNaziv">Naziv</label>
                <input type="text" class="form-control" id="inputNaziv" placeholder="Unesite naziv">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputGrupa">Grupa</label>
                <select id="inputGrupa" class="form-control">
                  <option selected>Odaberite grupu</option>
                  <option>...</option>
                </select>
              </div>
              <div class="form-group col-md-6">
                  <label for="inputKataloskiBroj">Kataloski broj</label>
                  <input type="text" class="form-control" id="inputAddress" placeholder="Unesite kataloski broj">
              </div>
              
            </div>
            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="inputFISbroj">FIS broj</label>
                <input type="text" class="form-control" id="inputFISbroj" placeholder="12345645">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                 <label for="inputNC">NC</label>
                 <input type="text" class="form-control" id="inputNC" placeholder="Unesite nabavnu cijenu">
              </div>
              <div class="form-group col-md-6">
                <label for="inputMarza">Marza</label>
                <input type="text" class="form-control" id="inputMarza" placeholder="Unesite marzu">
             </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                 <label for="inputVPC">VPC</label>
                 <input type="text" class="form-control" id="inputNC" placeholder="Unesite veleprodajnu cijenu">
              </div>
              <div class="form-group col-md-6">
                <label for="inputMarza">MPC</label>
                <input type="text" class="form-control" id="inputMarza" placeholder="Unesite maloprodajnu cijenu">
             </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputProizvodjac">Proizvodjac</label>
                <select id="inputProizvodjac" class="form-control">
                  <option selected>Izaberite proizvodjaca</option>
                  <option>...</option>
                </select>
              </div>
              <div class="form-group col-md-6">
                <label for="inputKljent">Klijent</label>
                <select id="inputKlijent" class="form-control">
                  <option selected>Izaberite klijenta</option>
                  <option>...</option>
                </select>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="inputKljent">Jedinica mjere</label>
                <select id="inputKlijent" class="form-control">
                  <option selected>Odaberite jedinicu mjere</option>
                  <option>...</option>
                </select>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                 <label for="inputCijenaHH">Cijena "Happy Hour"</label>
                 <input type="text" class="form-control" id="inputCijenaHH" placeholder="0">
              </div>
              <div class="form-group col-md-6">
                <label for="inputMinKolicina">Min kolicina na skladistu</label>
                <input type="text" class="form-control" id="inputMinKolicina" placeholder="Minimalna kolicina na skladistu">
             </div>
            </div>
            
            <div class="form-group">
              <label for="Opis">Opis</label>
              <textarea class="form-control" aria-label="Opis"></textarea>
            </div>
            <!-- <button type="submit" class="btn btn-primary">Dodaj artikal</button> -->
          </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Spasi artikal</button>
    </div>
  </ng-template>
