<div class="prijavaContainer">
    <div class="center-text">
      <h1>Probajte <b>Firma.ba</b> <br>besplatno</h1>
      <br>
      <h2>Držimo vaše poslovanje pod kontrolom.</h2>
    </div>
    <div class="registration-form">
        <form>
            <p>Za odobravanje probnog računa molimo vas da <b>pravilno unesete sve podatke</b>.</p>
            <br>
            <p>Na uneseni <i>email ćete dobiti pristupne podatke</i> za vaš probni račun.</p>
            <br>
            <div class="form-group">
                <input type="text" class="form-control item" id="username" placeholder="Kompanija">
            </div>
            <div class="form-group">
                <input type="password" class="form-control item" id="phone" placeholder="Telefon">
            </div>
            <div class="form-group">
                <input type="text" class="form-control item" id="email" placeholder="E-mail">
            </div>
            <div class="form-group mt-5">
                <button type="button" class="btn btn-block create-account" routerLink="/dashboard">Prijavite se</button>
            </div>
        </form>
    </div>
    <div class="footer">
        <p>Copyright © Firma.ba</p>
    </div>
  </div>
